.ssq-footer {
  background: var(--ssq-palette-strong-background);
  border-top: 4px solid var(--ssq-color-header-accent);
  color: var(--ssq-palette-strong-text);
  padding: 2rem 0 4rem;
}

.ssq-footer__heading {
  color: inherit;
  font-size: var(--ssq-font-size-h5-desktop);
  font-weight: 600;
  margin: var(--ssq-space-8) 0 var(--ssq-space-6);
}

.ssq-footer__title .ssq-footer__heading {
  margin-top: 0;
}

.ssq-footer__row {
  row-gap: 2rem;
}

.ssq-footer__column {
  padding-top: var(--ssq-space-2);
}

.ssq-footer__section-heading {
  font-size: var(--ssq-font-size-h5-desktop);
  margin-top: 0;
}

.ssq-footer a {
  color: var(--ssq-palette-strong-link);
  text-decoration-color: var(--ssq-palette-strong-link-decoration);
}

.ssq-footer__link-list {
  display: grid;
  gap: var(--ssq-space-3);
  list-style: none;
  margin: 0;
  padding: 0;
}

.ssq-footer__acknowledgements {
  border-left: 2px solid var(--ssq-color-header-accent);
}

.ssq-footer__content > :first-child {
  margin-top: 0;
}

.ssq-footer__content > :last-child {
  margin-bottom: 0;
}
